* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    width: 70px;
    height: 70px;
}

body {
    background-color: rgb(75, 122, 183);
    color: black;
    font-family: "Times New Roman", Times, serif;
    background-color: lightblue;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: SteelBlue;
}

nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

#ppp {
    color: rgb(102, 55, 5);
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: rgb(48, 131, 131);
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

nav .sideMenuButton {
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
    align-items: start;
}

@media screen and (max-width: 600px) {
    nav .sideMenuButton {
        display: flex;
    }
    nav .navbar {
        display: none;
    }
    .sideNavigationBar {
        display: block !important;
    }
}

.sideNavigationBar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: rgb(29, 134, 186);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
}

.sideNavigationBar a {
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
}

.sideNavigationBar a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: green;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
}

.sideNavigationBar a:hover {
    color: white;
}

.sideNavigationBar .closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.line .side1 {
    padding-right: 50px;
}

.side1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: rgb(22, 24, 138);
}

.side1 h5 {
    font-size: 30px;
    margin-bottom: 10px;
    align-items: center;
    color: rgb(22, 24, 138);
}

.side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #093953;
}

a {
    text-decoration: none;
    color: rgb(9, 116, 54);
}

#fms {
    color: white;
}

.buy {
    margin-left: 9px;
    margin-top: 50px;
    max-width: calc(100% / 3 - 50px);
    text-align: justify;
    border-radius: 12px;
    padding-top: 15px;
    padding-left: 4px;
    padding-bottom: 15px;
    padding-right: 15px;
    box-shadow: 0 10px 10px rgba(11, 0, 0, 0.12);
    cursor: default;
    background-color: rgb(52, 176, 193);
    align-items: center;
}

.buy :hover {
    color: blue;
}

.buy a {
    color: rgb(175, 40, 40);
}

@media screen and (max-width: 980px) {
    .side2 img {
        width: 350px;
    }
    .side1 h1 {
        font-size: 40px;
    }
    .side1 p {
        font-size: 17px;
    }
    .line {
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .side1 h1 {
        font-size: 35px;
    }
    .line {
        flex-direction: column;
    }
    .line .side1 {
        padding: 30px;
    }
}

#title22 {
    font-size: 20px;
    align-items: center;
    margin-left: 130px
}

.sidedown2 {
    padding-left: 5cm;
}

#info {
    color: rgb(4, 29, 34);
    width: 500px;
    height: 200px;
    border: 2px solid black;
    background-color: lightblue;
    align-items: center;
    text-indent: 5cm;
    text-align: justify;
}

#bookimg {
    height: 180px;
    padding-left: 5cm;
    padding-top: 1cm;
}

#mustread:hover {
    color: #093953;
    background-color: #eff1f2;
}

#mustread2:hover {
    color: #093953;
    background-color: #eff1f2;
}

#mustread3:hover {
    color: #093953;
    background-color: #eff1f2;
}

#bookimg2 {
    height: 180px;
    padding-left: 1cm;
    padding-top: 1cm;
}

#bookimg3 {
    height: 180px;
    padding-left: 1cm;
    padding-top: 1cm;
}

section .topic a {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 0cm;
}

.about .boxes .box {
    margin: 20px 30px;
    max-width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 10px 10px rgba(11, 0, 0, 0.12);
    cursor: default;
    background-color: rgb(112, 210, 223);
    justify-content: center;
}

.contact {
    padding: 20px;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.content .title {
    width: 80%;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.title {
    margin-bottom: 30px;
    margin-left: 80px;
}

.contactMenu {
    display: flex;
    justify-content: space-evenly;
}

.input2 {
    margin-top: 10;
}

.label1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}

.contactMenu .input1 input {
    border-radius: 13px;
    padding: 6px;
}

.input2 input {
    border-color: rgb(252, 244, 244);
    width: 400px;
}

.button {
    margin-top: 12px;
    margin-left: 5px;
}

.button button {
    width: 162px;
    height: 35px;
    border-radius: 12px;
    border-color: transparent;
}

.button button:hover {
    background-color: #8cc099;
}

button {
    width: 162px;
    height: 35px;
    border-radius: 12px;
    border-color: transparent;
}

button:hover {
    background-color: #8cc099;
}

.rightside1 {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.title1 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.content1 {
    width: 450px;
    margin-top: 2px;
    color: grey;
}

footer {
    background: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

footer .footer span {
    color: #d1d1d1;
    font-size: 17px;
    font-weight: 400;
    color: var(--white-color);
}

@media screen and (max-width: 1060px) {
    .contactMenu {
        flex-direction: column;
        align-items: center;
    }
    .rightside1 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .content1 {
        width: 100%;
        margin-top: 2px;
        color: grey;
    }
    .side2 img {
        width: 95%;
        height: 90%;
    }
}

@media screen and (max-width: 600px) {
    .side2 img {
        width: 100%;
    }
    section .topic a {
        font-size: 20px;
    }
    section .topic p {
        font-size: 5px;
    }
    .about .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .boxes .box {
        max-width: 70%;
    }
}